<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/success.css' %}">
  {% include 'myapp/index.html' %}
  <main class="AloneChoose2">

    <body>
      <br><br><br><br>
      <p>
        <span style="color:rgb(241, 48, 128);">자기소개</span>가 완료되었어요!</p>
          <p>
            이제
            <br><br>
            <span style="color:rgb(241, 48, 128); text-emphasis-style: dot;">새로운 인연</span>을 만나러가요!
          </p>
        </body>
      </main>

    </html>