<meta charset="utf-8">


<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/menu.css' %}">
  {% include 'myapp/index.html' %}
  <main class="MenuContent">

    <body>
      <div id="Menu">
        <div class="box1">
          <br><br>
          <p>
            <strong>나의 프로필 정보</strong>
          </p>
        </div>
        <div class="box2" onclick="goInfo();">
          <p>
            <strong>정보 확인</strong>
          </p>
        </div>
        <div class="box3">
          <p>회원 탈퇴</p>
        </div>
        <script>
          function goInfo() {
            location.href = '/myinfo/';
          }
        </script>
      </body>
    </main>

  </html>
