<meta charset="utf-8">


<!DOCTYPE html>
<html lang="ko">{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/myinfo.css' %}">
  {% include 'myapp/index.html' %}
  <main class="YouInfo">

    <body>
      <br><br>
      <h2>내 정보</h>
      <br><br>
      <div id="Info">
        <p>나이:
          <!-- user1.age -->
        </p>
        <!-- 이런 식으로 백에서 데이터 받아와서 출력 -->
        <p>미팅 인원수:
        </p>
        <p>직업:
        </p>
        <p>학교와 학과:
        </p>
        <p>mbti:
        </p>
        <p>군/미필:
        </p>
        <p>키:
        </p>
        <p>체형:
        </p>
        <p>유/무쌍:
        </p>
        <p>얼굴상:
        </p>
        <p>관심사:
        </p>
      </div>
      <div id="Info2">
        <p>자유로운 자기소개:
        </p>
      </div>
      <br>
      <div class="box1" onclick="gomyInfo();">
          <strong>정보 변경</strong>
      </div>
      <script>
        function gomyInfo() {
          location.href = '/my/';
        }
      </script>
    </body>
  </main>

</html>

</html>
