<meta charset="utf-8">

<!DOCTYPE html>
<html lang="ko">
{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/youinfo.css' %}">
  {% include 'myapp/index.html' %}
  <main class="YouInfo">

    <body>
      <br><br>
      <h2>상대 정보</h2>
      <br><br>
      <div id="Info">
  {% for profile in matched_profiles %}
    <p>나이: {{ profile.age }}</p>
    <p>미팅 인원수: {{ profile.peoplenum }}</p>
    <p>직업: {{ profile.job }}</p>
    <p>학교와 학과: {{ profile.school }} {{ profile.major }}</p>
    <p>mbti: {{ profile.mbti }}</p>
    {% if profile.gender == 'M' %}<p>군/미필: {{ profile.army }}</p>{% endif %}
    <p>키: {{ profile.height }}</p>
    <p>체형: {{ profile.body }}</p>
    <p>유/무쌍: {{ profile.eyes }}</p>
    <p>얼굴상: {{ profile.face }}</p>
    <p>관심사: {{ profile.hobby }}</p>
    <p>자유로운 자기소개: {{ profile.introduction }}</p>
    <br><br>
  {% endfor %}
</div>
    </body>
  </main>
</html>
