
<meta charset="utf-8">


<!DOCTYPE html>
<html lang="ko">
{% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/youinfo.css' %}">
  {% include 'myapp/index.html' %}
  <main class="YouInfo">

    <body>
      <br><br>
      <h2>상대 정보</h2>
      <br><br>
      <div id="Info">
        <p>나이: {{ matched_profiles.age }}</p>
        <p>미팅 인원수: {{ matched_profiles.peoplenum }}</p>
        <p>직업: {{ matched_profiles.job }}</p>
        <p>학교와 학과: {{ matched_profiles.graduate }}</p>
        <p>mbti: {{ matched_profiles.mbti }}</p>
        {% if matched_profiles.gender == 'M' %}<p>군/미필: {{ matched_profiles.army }}</p>{% endif %}
        <p>키: {{ matched_profiles.height }}</p>
        <p>체형: {{ matched_profiles.body }}</p>
        <p>유/무쌍: {{ matched_profiles.eyes }}</p>
        <p>얼굴상: {{ matched_profiles.face }}</p>
        <p>관심사: {{ matched_profiles.hobby }}</p>
      </div>
      <div id="Info2">
        <p>자유로운 자기소개: {{ matched_profiles.introduction }}</p>
      </div>
    </body>
  </main>
</html>

